* {
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 20px auto 20px auto;
}

h1, h2 {
    font-weight: bold;
    font-size: 24px;
    font-family: Impact, serif;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

h1 {
    font-size: 32px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 150%;
}

.image-boat {
    width: 80%;
    margin: 20px auto 20px auto;
    display: block;
}

.img-description {
    text-align: center;
    font-style: italic;
    margin: 20px 0px 20px 0px;
}

ul, li {
    font-family: Arial, sans-serif;
    line-height: 150%;
}

.text-red {
    color:red;
    
}
.text-bold { 
    font-weight: bold;
    color:red;
}



